#toplevel_page_wp_post_controller_setting img{
    width: 20px;
}
.column-wppc_post_views{
    width: 100px;
}
.wppc-rpv-metabox{
    padding-top: 10px;
}
.wppc-rpv-c-span{
    font-weight: 600;    
}
.wppc-rpv-right-span{
    margin-left: 100px !important;
}